@import "tailwindcss";

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;
    color: #1d1d1f;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --brand-light: #397ff2;
    --brand-default: #40a4fa;
    --brand-dark: #83d7f9;
    --background-color: #f5f5f7;
    --background-color-dark-darker: #141415;
    --background-color-dark-dark: #1d1d1f;
    --background-color-dark-medium: #2b2b32;
    --border-color: #d8d8d8;
    --text-dark: #1d1d1f;
    --text-light: #6e6e73;
    --container-shadow: 2px 4px 12px #00000014;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
}
